name: Backend CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build: 
    runs_on: ubuntu-latest

  steps:
     - name: Checkout code
       uses: actions/checkout@v4

     - name: Build Docker Image
       uses: docker build -t mood-to-meal-backend .